In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'date':pd.date_range(start='1/1/2018', end='1/10/2018'),
    'numbers': range(1,11)
})
df

        date  numbers
0 2018-01-01        1
1 2018-01-02        2
2 2018-01-03        3
3 2018-01-04        4
4 2018-01-05        5
5 2018-01-06        6
6 2018-01-07        7
7 2018-01-08        8
8 2018-01-09        9
9 2018-01-10       10

In [4]:
df['lag 1'] = df.numbers.shift(1)
df['lag 2'] = df.numbers.shift(2)
df['lag -1 (future leak!)'] = df.numbers.shift(-1)
df['5 day rolling mean'] = df.numbers.rolling(5).mean()
df['5 day rolling standard deviation'] = df.numbers.rolling(5).std()
df['1 day pct change'] = df.numbers.pct_change()
df['5 day pct change'] = df.numbers.pct_change(5)
df

,date,numbers,lag 1,lag 2,lag -1 (future leak!),5 day rolling mean,5 day rolling standard deviation,1 day pct change,5 day pct change
0,2018-01-01,1,NaN,NaN,2.0,NaN,NaN,NaN,NaN
1,2018-01-02,2,1.0,NaN,3.0,NaN,NaN,1.000000,NaN
2,2018-01-03,3,2.0,1.0,4.0,NaN,NaN,0.500000,NaN
3,2018-01-04,4,3.0,2.0,5.0,NaN,NaN,0.333333,NaN
4,2018-01-05,5,4.0,3.0,6.0,3.0,1.581139,0.250000,NaN
5,2018-01-06,6,5.0,4.0,7.0,4.0,1.581139,0.200000,5.000000
6,2018-01-07,7,6.0,5.0,8.0,5.0,1.581139,0.166667,2.500000
7,2018-01-08,8,7.0,6.0,9.0,6.0,1.581139,0.142857,1.666667
8,2018-01-09,9,8.0,7.0,10.0,7.0,1.581139,0.125000,1.250000
9,2018-01-10,10,9.0,8.0,NaN,8.0,1.581139,0.111111,1.000000