In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
todays_date = datetime.datetime.now().date()
index = pd.date_range(todays_date, periods=10, freq='D')
cols = ['Sensor_1','Sensor_2','Sensor_3']
df = pd.DataFrame(np.random.randint(5, size=(10, 3)), index=index, columns=cols) 
df

            Sensor_1  Sensor_2  Sensor_3
2020-07-17         1         1         1
2020-07-18         2         2         4
2020-07-19         1         4         0
2020-07-20         1         1         3
2020-07-21         3         3         4
2020-07-22         4         2         2
2020-07-23         4         4         3
2020-07-24         1         2         3
2020-07-25         2         1         3
2020-07-26         4         4         3

In [3]:
for col in cols:
    df[col+'_t-1'] = df[col].shift(1)
    df[col+'_t-2'] = df[col].shift(2)
    df[col+'_avg3'] = df[col].rolling(3).mean()
    df[col+'_std3'] = df[col].rolling(3).std()
df

,Sensor_1,Sensor_2,Sensor_3,Sensor_1_t-1,Sensor_1_t-2,Sensor_1_avg3,Sensor_1_std3,Sensor_2_t-1,Sensor_2_t-2,Sensor_2_avg3,Sensor_2_std3,Sensor_3_t-1,Sensor_3_t-2,Sensor_3_avg3,Sensor_3_std3
2020-07-17,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-18,2,2,4,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2020-07-19,1,4,0,2.0,1.0,1.333333,0.577350,2.0,1.0,2.333333,1.527525,4.0,1.0,1.666667,2.081666e+00
2020-07-20,1,1,3,1.0,2.0,1.333333,0.577350,4.0,2.0,2.333333,1.527525,0.0,4.0,2.333333,2.081666e+00
2020-07-21,3,3,4,1.0,1.0,1.666667,1.154701,1.0,4.0,2.666667,1.527525,3.0,0.0,2.333333,2.081666e+00
2020-07-22,4,2,2,3.0,1.0,2.666667,1.527525,3.0,1.0,2.000000,1.000000,4.0,3.0,3.000000,1.000000e+00
2020-07-23,4,4,3,4.0,3.0,3.666667,0.577350,2.0,3.0,3.000000,1.000000,2.0,4.0,3.000000,1.000000e+00
2020-07-24,1,2,3,4.0,4.0,3.000000,1.732051,4.0,2.0,2.666667,1.154701,3.0,2.0,2.666667,5.773503e-01
2020-07-25,2,1,3,1.0,4.0,2.333333,1.527525,2.0,4.0,2.333333,1.527525,3.0,3.0,3.000000,3.573173e-08
2020-07-26,4,4,3,2.0,1.0,2.333333,1.527525,1.0,2.0,2.333333,1.527525,3.0,3.0,3.000000,3.573173e-08