In [3]:
import pandas as pd
import datarobot as dr
import os

In [4]:
USERNAME = os.environ['DATAROBOT_USERNAME']
API_TOKEN = os.environ['DATAROBOT_API_TOKEN']
ENDPOINT = 'https://app.datarobot.com/api/v2'

dr.Client(token=API_TOKEN, endpoint=ENDPOINT)

In [12]:
PROJECT_ID = '610ccac23732873040c76f84'  # C.Myers
MODEL_ID = '6113fca32691e5a99e51c00c'  # Eureqa

prj = dr.Project.get(PROJECT_ID)

print('Project name and file: %s, %s' % (prj.project_name, prj.file_name))

models = prj.get_models()  # [:12]  # get only the top n to narrow it down
print('%s models' % len(models))

# model = models[0]
model = dr.Model.get(PROJECT_ID, MODEL_ID)
print('model:', model)

Project name and file: C_Myers all_source_train 2020 -4_0, 1-13, XEMP, C_Myers all_source_train.csv
43 models
model: Model('Eureqa Generalized Additive Model (1000 Generations)')

In [16]:
fi = model.get_or_request_feature_impact()
df = pd.DataFrame(fi)

In [23]:
df.head(7)

,featureName,impactNormalized,impactUnnormalized,redundantWith
0,Date (Year) (actual),1.000000,1.129395,None
1,# of Accts (1st lag),0.437960,0.494630,None
2,Commercial Real Estate Price Index (Level) (ac...,0.119503,0.134966,None
3,Balance (diff) (4 quarter max),0.057585,0.065036,None
4,Balance (diff) (4 quarter std),0.035913,0.040560,None
5,# of Accts (4 quarter std),0.000000,0.000000,None
6,10_year Treasury yield (actual),0.000000,0.000000,None

In [19]:
df.tail(5)

,featureName,impactNormalized,impactUnnormalized,redundantWith
49,Source (actual),0.000000,0.000000,None
50,Unemployment rate (actual),0.000000,0.000000,None
51,dr_fdw_counts_5ca80712962d745a316c288b,0.000000,0.000000,None
52,Date (Day of Week) (actual),-0.000282,-0.000319,None
53,Balance (naive latest value),-0.320375,-0.361830,None